
body{font-family:Arial, Helvetica, sans-serif ;}

/*selector x etiqueta*/
h2{
    color: brown;
    background-color: aqua;
 
} 
/*selector por id*/
#parrafoUnico{
    color: brown;
}  
/*selector por clase*/
.verde {
    color: rgb(19, 194, 19) ;
}

.footer {
    color: rgb(6, 35, 61);
}
#verdecito{
    color: rgb(19, 194, 19) ;

}