
/*selector x etiqueta*/
h2{
    color: brown;
    background-color: aqua;
 
} 
/*selector por id*/
#parrafoUnico{
  
    color: #fff;;
    font-size: 15px;
    font-weight: 400;
    padding-right: 85px;
    text-align: right;   

}  


#form {
  text-align: center;
  color:rgb(55, 55, 55);
}

 #floatingTextarea {
  max-height:80px;
  max-width:51%;
  margin-left:265px ;
  font-size: 15px;
  margin-top: 10px;
  color: #727578;
  padding-top:5px;
}



  
  

/*selector por clase*/
 
.botonFormulario{
  max-width: 30%;
  position: relative;
  margin-left: 265px;
  margin-top: -5px;
  background-color:rgb(135, 207, 64);



 }
/*fui por el sailor blue de colores de W3-2018.css */
.footer {
    color: rgb(6, 35, 61);
}
.formulario{
    
    color: #38DE2C;
      }
    
    
      .containerBox {
        position: relative;
        display: inline-block;
      }
      
      


      .img-responsive {
        display: block;
        max-width: 100%;
        height: 120px;
        margin: auto;
        padding: auto;
      }
      
     
      