
/*selector x etiqueta*/
h2{
    color: brown;
    background-color: aqua;
 
} 
/*selector por id*/
#parrafoUnico{
    color: brown;
}  
/*selector por clase*/
.verde {
    color: rgb(19, 194, 19) ;
}

.footer {
    color: rgb(6, 35, 61);
}
.Formulario{
    
    color: #38DE2C;
      }
    
    
